
:root{
    --desktop-size : 1200px  /* XL */;
    --labtop-size :  1024px  /* LG */;
    --tablet-size :  768px  /* MD */;
    --mobile-size :  480px  /* SM */;
    --color-1 : #cdb4db ; 
    /* Mobile */
    --color-2 : #fff1e6;
    /* Tablet */
    --color-3 : #52b788;
    /* Labtop */
    --color-4:  #bee1e6;
    /* Desktop */
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;   
}

.container {
     height: 100vh;
    /*display: flex;
    justify-content: center;
    align-items: center; */

    display: grid;
    place-content: center;
    background-color: var(--color-1);
}
.text {

}

#size {
    position: absolute;
    top:60%;
    left:50%;
    transform: translateX(-50%);
    font-size: 35px;
    color:red
}